[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
honcho = "*"
hiredis = "*"
redis-py-cluster = "*"
flask = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6.5"
